{{#if loggedIn}}
<section class="card1">
    <img src="/images/card-1.jpg">
    <div class="donation-details">
        <h3>{{donation.title}}</h3>
        <p>{{donation.description}}</p>
        <button onclick="window.location.href='https://polarbearsinternational.org/';">
            Link To Donate
        </button>
    </div>
</section>

<section class="card2">
    <img src="/images/card-2.jpg">
    <div class="donation-details">
        <h3>{{donation.title}}</h3>
        <p>{{donation.description}}</p>
        <button onclick="window.location.href='https://defenders.org/wildlife/polar-bear';">
            Link To Donate
        </button>
    </div>
</section>

<section class="card3">
    <img src="/images/card-3.jpg">
    <div class="donation-details">
        <h3>{{donation.title}}</h3>
        <p>{{donation.description}}</p>
        <button onclick="window.location.href='https://alaskawild.org/';">
            Link To Donate
        </button>
    </div>
</section>

{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}